.input-field
    max-width: 17.5rem
    width: 100%
    position: relative

    &__input
        width: 100%
        padding: 0.615em 0
        border: 0
        outline: none
        border-radius: 0
        appearance: none
        font-size: 0.813rem
        line-height: 1
        font-weight: 500
        border-bottom: 1px solid #999999
        transition: border-color .3s

        &::placeholder
            opacity: 0

        &:focus
            border-color: #3369F3

        &:not(:focus):not(:placeholder-shown)
            border-color: #3369F3
    
    &__placeholder 
        display: block
        position: absolute
        left: 0
        top: 50%
        transform: translate3d(0, -50%, 0)
        color: #999999
        font-size: 0.813rem
        line-height: 1
        font-weight: 500
        pointer-events: none
        transform-origin: left
        transition: top .3s, transform .3s, color .3s

.input-field__input:focus ~ .input-field__placeholder,
.input-field__input:not(:focus):not(:placeholder-shown) ~ .input-field__placeholder
    top: -50%
    transform: translate3d(0, 50%, 0) scale(.7)
