.button
    font-weight: 500
    font-size: 0.813rem
    line-height: 1

    padding: 0.923em 1.846em

    color: #FFFFFF
    background-color: #3369F3

    border: none
    border-radius: 0.615em 

    max-width: 17.5rem
    width: 100%

    cursor: pointer