<div class="chat-page__wrapper">
    <aside class="chat-page__aside-block">
        <nav class="chat-page__navigation"></nav>
        <ul class="chat-page__list">
            <li class="chat-page__list-item">
                <div class="chat-page__chat-avatar"></div>
                <div>
                    <h6 class="chat-page__chat-name">Андрей</h6>
                    <p class="chat-page__chat-message">Изображение</p>
                </div>
                <span class="chat-page__chat-time">10:49</span>
                <div class="chat-page__chat-message-count">3</div>
            </li>
        </ul>
    </aside>
    <main class="chat-page">
        <div class="chat-page__user-info-wrapper">
            <div class="chat-page__user-info">
                <h5 class="chat-page__user-name">Вадим</h5>
                <span class="chat-page__user-status">В сети</span>
            </div>
        </div>
        <section class="chat-page__chat"></section>
        <div class="chat-page__form-wrapper">
            <form class="chat-page__form"></form>
        </div>
    </main>
</div>